table {
    border: 2px solid black;
    border-collapse: collapse;

}
table > tr, th{
    border: 1px solid black;
    padding: 5px 10px;
    margin: 0px;
}
table > tr, td{
    padding: 5px 10px;
    margin: 0px;
}
table tr:nth-child(even) {
    background-color: lightgray;
}
.manage {
    background-color: greenyellow;
    color: white;
}
.manage a{
    color: aliceblue;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}